:root {
  --primaryBrandColor: #4d5ae5;
  --pressedStateColor: #404bbf;
  --darkColor: #2e2f42;
  --successColor: #31d0aa;
  --textColor: #434455;
  --subtleTextColor: #8e8f99;
  --accentColor: #e7e9fc;
  --lightColor: #f4f4fd;
  --modalOverlayColor: #2e2f4266;
  --heroBackgroundColor: rgba(46, 47, 66, 0.7);
  --whiteBackgroundColor: #ffffff;
  --modalBackgroundColor: #fcfcfc;

  --mainTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--textColor);
  background-color: var(--whiteBackgroundColor);
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  color: var(--darkColor);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.sub-title {
  color: var(--darkColor);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.logo {
  color: var(--primaryBrandColor);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.logo-span {
  color: var(--darkColor);
}

.text {
  font-size: 16px;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.header {
  border-bottom: 1px solid var(--accentColor);
  padding: 24px 0;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .link {
  transition: color 250ms var(--mainTimingFunction);
}

.header .link:hover,
.header .link:focus {
  color: var(--pressedStateColor);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .logo {
  margin-right: 76px;
}

.header-nav-list {
  display: flex;
  gap: 40px;
  color: var(--darkColor);
  font-weight: 500;
}

.header-nav-list .link {
  padding: 24px 0;
}

.header-nav-list .current {
  position: relative;
  color: var(--pressedStateColor);
}

.header-nav-list .current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressedStateColor);
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

/* ORDER SECTION */

.order-section {
  background-color: var(--darkColor);
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      var(--heroBackgroundColor),
      var(--heroBackgroundColor)
    ),
    url(../images/hero-bg.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
  color: var(--whiteBackgroundColor);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.order-section .button {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--whiteBackgroundColor);
  background-color: var(--primaryBrandColor);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms var(--mainTimingFunction);
}

.order-section .button:hover,
.order-section .button:focus {
  background-color: var(--pressedStateColor);
}

/* VALUES SECTION */

.values-section {
  padding: 120px 0;
}

.values-section-list {
  display: flex;
  gap: 24px;
}

.values-section-list .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--lightColor);
  border: 1px solid var(--subtleTextColor);
  border-radius: 4px;
  margin-bottom: 8px;
}

.values-section-list .list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.values-section-list .sub-title {
  margin-bottom: 8px;
}

/* TEAM SECTION */

.team-section {
  padding: 120px 0;
  background-color: var(--lightColor);
}

.team-section .section-title {
  margin-bottom: 72px;
}

.team-section-list {
  display: flex;
  gap: 24px;
}

.team-section-list > .list-item {
  background-color: var(--whiteBackgroundColor);
  flex-basis: calc((100% - 24px * 3) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.team-card-content {
  text-align: center;
  padding: 32px 0px;
}

.team-card-content .sub-title {
  margin-bottom: 8px;
}

.team-card-content .text {
  margin-bottom: 8px;
}

.team-links-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-links-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryBrandColor);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms var(--mainTimingFunction);
}

.team-links-list .link:hover,
.team-links-list .link:focus {
  background-color: var(--pressedStateColor);
}

.team-links-list .icon {
  fill: var(--lightColor);
}

/* PORTFOLIO SECTION */

.portfolio-section {
  padding: 120px 0;
}

.portfolio-section .section-title {
  margin-bottom: 72px;
}

.portfolio-section-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms var(--mainTimingFunction);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-card-overlay {
  color: var(--lightColor);
  background-color: var(--primaryBrandColor);
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--mainTimingFunction);
}

.portfolio-list-item:hover .portfolio-card-overlay,
.portfolio-list-item:focus .portfolio-card-overlay {
  transform: translateY(0);
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid var(--accentColor);
  border-top: none;
}

.portfolio-card-content .sub-title {
  margin-bottom: 8px;
}

/* FOOTER */

.footer {
  padding: 100px 0;
  color: var(--lightColor);
  background-color: var(--darkColor);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-descr-wrap {
  margin-right: 120px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .text {
  width: 264px;
}

.footer .logo-span {
  color: var(--lightColor);
}

.footer-socials-text {
  color: var(--whiteBackgroundColor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryBrandColor);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms var(--mainTimingFunction);
}

.footer-socials-list .link:hover,
.footer-socials-list .link:focus {
  background-color: var(--successColor);
}

.footer-socials-list .icon {
  fill: var(--lightColor);
}
